<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-autogrow-textarea/iron-autogrow-textarea.html">

<dom-module id="sonar-editable-text">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                width: 100%;
                height: auto;
            }

            :host #trigger {
                position: absolute;
                bottom: 0;
                right: 0;
                visibility: hidden;
            }

            :host(:hover) #trigger {
                visibility: visible;
            }

            :host #textarea {
                width: 100%;
                min-height: 50px;

                --iron-autogrow-textarea: {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-all;

                    /* Adds a hyphen where the word breaks, if supported (No Blink) */
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                }
            }

            :host #buttons {
                @apply(--layout-horizontal);
            }

            :host #buttons * {
                margin-left: 0.25em;
            }

            :host #buttons ::slotted(*) {
                margin-left: 0.25em;
            }

            :host #buttons:before {
                content: "";
                margin-left: -0.25em;
            }

            :host #text {
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-all;

                /* Adds a hyphen where the word breaks, if supported (No Blink) */
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
            }

            :host *[hidden] {
                display: none !important;
            }
        </style>

        <div id="trigger"
             hidden$="[[_isTriggerHidden(editable, hideTrigger)]]"
             on-click="edit">

            <slot name="trigger">
                <button>Edit</button>
            </slot>
        </div>

        <div id="text" hidden="[[editable]]">
            [[text]]
        </div>

        <div hidden="[[!editable]]">
            <iron-autogrow-textarea
                    id="textarea"
                    value="{{_text}}">
            </iron-autogrow-textarea>

            <div id="buttons">
                <slot id="confirmSlot" name="confirm">
                    <button on-click="_onConfirmClicked">Ok</button>
                </slot>

                <slot id="dismissSlot" name="dismiss">
                    <button on-click="_onDismissClicked">Dismiss</button>
                </slot>
            </div>
        </div>
    </template>
    <script>
        /**
         * `sonar-editable-text`
         * Text element that can be made editable
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarEditableText extends Polymer.Element {
            static get is() {
                return 'sonar-editable-text';
            }

            static get properties() {
                return {
                    text: {
                        type: String,
                        value: "",
                        notify: true
                    },

                    editable: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },

                    hideTrigger: {
                        type: Boolean,
                        value: false
                    },

                    _text: {
                        type: String,
                        value: ""
                    }
                };
            }

            static get observers() {
                return [
                    "_onTextChanged(text)"
                ]
            }

            connectedCallback() {
                super.connectedCallback();

                const confirmHandler = this._setConfirmListener.bind(this);
                const dismissHandler = this._setDismissListener.bind(this);

                this.$.confirmSlot.addEventListener("slotchange", confirmHandler);
                this.$.dismissSlot.addEventListener("slotchange", dismissHandler);
            }

            edit() {
                this.editable = true;
            }

            _setConfirmListener() {
                const confirmElement = this._getContentChildren(this.$.confirmSlot)[0];
                const clickHandler = this._onConfirmClicked.bind(this);

                confirmElement.addEventListener("click", clickHandler);
            }

            _setDismissListener() {
                const confirmElement = this._getContentChildren(this.$.dismissSlot)[0];
                const clickHandler = this._onDismissClicked.bind(this);

                confirmElement.addEventListener("click", clickHandler);
            }

            _getContentChildren(element) {
                return element
                    .assignedNodes({ flatten:true })
                    .filter(n => n.nodeType === Node.ELEMENT_NODE);
            }

            _onTextChanged(text) {
                this._text = this._cleanText(text);
            }

            _onConfirmClicked() {
                this.text = this._text;
                this.editable = false;
                this._dispatchConfirmEvent(this.text);
            }

            _onDismissClicked() {
                this._text = this._cleanText(this.text);
                this.editable = false;
                this._dispatchDismissEvent()
            }

            _dispatchConfirmEvent(text) {
                const confirmEvent = new CustomEvent("confirm", {
                    detail: { text: text }
                });

                this.dispatchEvent(confirmEvent);
            }

            _dispatchDismissEvent() {
                const dismissEvent = new CustomEvent("dismiss");
                this.dispatchEvent(dismissEvent);
            }

            _isTriggerHidden(editable, hideTrigger) {
                return editable || hideTrigger;
            }

            _cleanText(text) {
                return text
                    .replace(/(\r\n\t|\n|\r\t)/gm,"")
                    .replace(/\s+/g, " ")
                    .trim();
            }
        }

        window.customElements.define(SonarEditableText.is, SonarEditableText);
    </script>
</dom-module>
